.primeButtonFull{
  background-color:#326667;
  color:#fff;
  width: 100%;
}
.primeButton{
  background-color:#326667;
  color:#fff;
}
.Visible{
  display: block;
}
.Hidden{
  display: none;
}
.connected{
  background-color: green;
}

.notConnected{
  background-color: pink;
}

/* Custom Divs */
.containerDiv{
  width:90%;
  margin:auto;
  min-height:100vh;
}
