.topbar{
  color:#fff;
}
.ant-menu{
  background:transparent;
  color:#fff;
  border:none;
  line-height:60px;
}
.ant-menu-submenu-popup{
  background : #326667 !important;
}
.ant-menu-submenu > .ant-menu{
  background-color: #326667 !important;
  padding: 10px;
}
.ant-menu-horizontal > .ant-menu-item:hover{
    transform:scale(1.1);
    color:#fff;
    border-bottom:none;
}
